<div class="uk-position-relative">
  <div class="gab-backdrop"></div>
  <img class="sm-show" id="sm-brand" src="/assets/img/logo-2019-762x677-inverted.png" alt="Global Azure bootcamp 2019 logo">
  <h1 class="sm-hidden uk-heading-primary margin-fix">Global Azure Bootcamp</h1>
  <h2 class="uk-heading-primary margin-fix">#GABCWB2019</h2>
  <h2 class="uk-heading-primary">27 de Abril</h2>
  <h3 class="uk-heading-line"><span>das 9h às 16h</span></h3>
  <div class="sm-align-fix" uk-margin>
    <a target="blank" href="https://docs.google.com/forms/d/e/1FAIpQLSdxlXKkMcHBWG3yXNIGFATRUKUu4Ft9yHw67qkgq6FT-YK7mw/viewform" class="uk-button uk-button-danger uk-button-large">Seja
      um palestrante</a>
    <a target="blank" href="https://www.sympla.com.br/global-azure-bootcamp--curitiba-2019__457177" class="uk-button uk-button-primary uk-button-large">Inscreva-se</a>
  </div>
  <div class="uk-position-top sm-hidden">
    <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
      <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
          <li><img id="brand" src="/assets/img/logo-2019-762x677-inverted.png" alt="Global Azure bootcamp 2019 logo"></li>
        </ul>
      </div>
    </nav>
  </div>
</div>

<router-outlet></router-outlet>


<footer class="uk-section-secondary">
  <div class="uk-section uk-section-xsmall" style="background-color: rgba(0,0,0,0.15)">
    <div class="uk-container">
      <div class="uk-grid uk-child-width-1-1@s uk-text-center uk-grid-stack" data-uk-grid="">
        <div class="uk-text-center uk-margin uk-first-column"><img alt="Global Azure Bootcamp Logo"
          src="/assets/img/logo-2019-762x677-inverted.png" style="height:60px"></div>
      </div>
    </div>
  </div>
</footer>
