h1, p, address {
    text-align: center;
}

.uk-container {
    p {
        padding-left: 20%;
        padding-right: 20%;
        margin-bottom: 0;
        &:last-child {
            margin-top: 1rem;
        }
    }
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    &:last-child {
        padding-bottom: 0;
    }
}

.uk-container-expand:nth-child(2n) {
    background: rgb(245, 245, 245);
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.flex-center {
    align-items: center;
}

.location-container {
    padding-top: 70px;
}