<section class="uk-container">
  <!-- <div class="uk-child-width-expand@s uk-text-center" uk-grid>
      <div>
        <div class="uk-card uk-card-default uk-card-body">Item</div>
      </div>
      <div>
        <div class="uk-card uk-card-default uk-card-body">Item</div>
      </div>
      <div>
        <div class="uk-card uk-card-default uk-card-body">Item</div>
      </div>
    </div> -->

  <h1 class="uk-heading-primary">Palestrantes</h1>
  <p>em breve.</p>
</section>

<section class="uk-container">
  <h1 class="uk-heading-primary">Agenda</h1>
  <p>em breve.</p>
</section>

<section class="uk-container">
  <h1 class="uk-heading-primary">Apoio</h1>
  <div class="flex-row justify-center flex-center">
    <img src="/assets/img/universidade-positivo.jpg" alt="Univeridade Positivo Logo">
  </div>
</section>

<section class="uk-container">
  <h1 class="uk-heading-primary">Localização</h1>
  <address class="flex-col">
    <span>Universidade Positivo, Campus Osório</span>
    <span>Praça General Osório, 125, Centro</span>
    <span>Curitiba, PR</span>
  </address>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3603.1345006327433!2d-49.27776218528563!3d-25.433766483786705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94dce472e85bb7eb%3A0x78328b9f96a47e4d!2sUniversidade+Positivo+-+Unidade+Pra%C3%A7a+Os%C3%B3rio!5e0!3m2!1spt-BR!2sbr!4v1550685035049"
    width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>

</section>
